.preview {
    position: relative;
    padding: 25px 50px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.25);
    margin: 15px 0;
    * {
        z-index: 2;
    }
    @media (max-width: 600px) {
        padding: 20px 25px;
    }
    @media (max-width: 400px) {
        padding: 15px 15px;
    }
    //border: 1px solid rgba(0,0,0,0.25);
}

.preview .flex {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.preview .ratings {
    flex: 1;
    width: 100%;
    text-align: right;
    order: 2;
    @media (max-width: 600px) {
        order: 1;
    }
}

.preview .open {
    cursor: pointer;
}

.preview .bar {
    transition: 0.25s all ease-in-out;
    width: 0%;
    //height: 30px;
    //background-color: #eee;
    background: linear-gradient(to right, #F9F3EA 0%,#ffffff 100%);
    //background: linear-gradient(to right, #F6E7ED 0%,#ffffff 100%);
    //background: linear-gradient(to right, #cbcbcb 0%,#ffffff 100%);
    margin: 15px 0 15px auto;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    @media (max-width: 600px) {
        margin: 15px auto 15px 0;
    }
    .text, .number {
        padding: 0 1ex;
        font-weight:bold;
        flex: none;
    }
    .text-wrapper {
        white-space: nowrap;
        direction: rtl;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.preview .product {
    margin: 0 0;
    text-align: left;
    flex: 1;
    p {
        margin: 0;
    }
    h1 {
        margin: 0;
    }
}

.preview .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: opacity(0.125);
    -webkit-filter: opacity(0.125);
    z-index: 1;
}

.preview .overall {
    z-index: 2;
    margin: 0 0 0 50px;
    p {
        width: 100%;
        margin: 0;
    }
    h1 {
        width: 100%;
        margin: 0;
        display: block;
    }
}

.preview .classification {
    text-align: left;
    margin: 0;
}

.preview .links {
    order: 1;
    flex: 1;
    margin-top: 1em;
    text-align: left;
    @media (max-width: 600px) {
        order: 2;
        margin-top: 0;
    }
    .links-text {
        font-weight: bold;
    }
    ul {
        margin: 0;
    }
    p {
        margin: 0;
    }
}

.preview .more {
    display: none;
    //overflow-y: hidden;
    //transition: 0.25s all ease-in-out;
    &.expanded {
        display: flex;
        //max-height: 500px;
    }
    @media (max-width: 600px) {
        flex-direction: column;
    }
}