.search {
    margin: 50px 0;
    display: flex;
    .searchbar {
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .brand {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .category {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    input, select {
        font-family: 'Raleway';
        font-weight: 300;
        font-size: 24px;
        line-height: 1;
        padding: 0.5em;

        border: 1px solid #222;
        border-radius: 5px;

        outline: 0;
    }
}