.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    position: relative;
    margin: 25px 50px;

    .fa-search {
        float: left;
    }

    .overall {
        margin-top: 0;
    }
}

.search .sort {
    cursor: pointer;
}

.search input {
    display: block;
    width: 100%;
    border: 0;
    //border-bottom: 1px solid #222;
    outline: 0;
    font-weight: 900;
    font-family: 'Playfair Display';
    font-size: 35px;
    text-align: left;
    padding: 0 5px;
}

.search select {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 1.8;
    border: 0;
    outline: 0;
    text-decoration: underline;
}

.search .product {
    z-index: 2;
    text-align: left;
    flex: 1;
    p {
        margin: 0;
    }
    h1 {
        margin: 0;
    }
}

.search .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: opacity(0.125);
    -webkit-filter: opacity(0.125);
    z-index: 1;
}

.search .overall {
    z-index: 2;
    p {
        width: 100%;
        margin: 0;
    }
    h1 {
        width: 100%;
        margin: 0;
        display: block;
    }
}

.search .brand {
    text-align: left;
    margin: 0;
}